
<h1>Welcome to Chitter</h1>
<h2>See what’s happening in the world right now</h2>


<form  action='/peeps' method='get'>
<label for="username">Username:</label>
<input type="text" name="username" id="username">
<br>
<label for="user-pw">Password:</label>
<input type="password"name="user-pw"id="user-pw">
<br>
<input type="submit" value="Log in">
</form>
<h3>Join Chitter today.</h3>
<form action='/users/new' method='post'>
<button>Signup</button>
</form>

