<form input action='/peeps' method='post'>

   ENTER Peep:<br>
    <input type=text name=text>
    <input type=hidden name=time id="time" value=Time.now>
    <input type=submit value='Share  your Peep'/>
  </form>